@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Shalimar&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Body styling*/
body {
    font-family: Overpass, sans-serif;
    color: #F8F0E3;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-image: url('../images/Background-image-01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #008385;
}

/*Header and logo*/
h2, h3 {
    font-family: Shalimar, sans-serif;
    color: #F8F0E3;
    font-size: 250%;
    text-align: center;
    letter-spacing: 2px;   
}

#logo {
    font-family: Shalimar, sans-serif;
    color: #F8F0E3;
    letter-spacing: 2px;
    text-align: center;
    font-size: 350%;
    text-decoration: none;
}

#mid-heading {
    text-align: center;
    font-size: 200%;
    padding-top: 30px;
}


#slogan {
    text-align: center;
    font-size: 150%;
    padding-top: 50px;
}

/*Navigation links*/

#menu {
    font-size: 200%;
    text-align: center;
    letter-spacing: 1px;
}

#menu li {
    margin: 0 auto;
    display: inline-block;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #F8F0E3; 
}

#menu a:hover {
    border-bottom: 2px dashed #F8F0E3;
}

.active {
    border-bottom: 2px solid #F8F0E3;
}

/*About us*/

#about-us {
    font-family: Overpass, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding: 50px;
}

/*Footer styling*/

footer {
    height: 200px;
}

.social-media {
    text-align: center;
    text-decoration: none;
    padding-top: 100px;
    letter-spacing: 5px;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    color: #F8F0E3;
}

/*Gallery code for grid from https://dcode.domenade.com*/

.photos {
    margin-top: 15px;
    border: 1px solid #F8F0E3;

    /*code from https://dcode.domenade.com*/
    --gap: 20px;
    --num-cols: 3;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.photos > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photos img {
    border: 2px solid #F8F0E3;
    padding: 2px;
}

/*Copyright notice*/

#copyright > a {
    font-family: Overpass, sans-serif;
    color: #F8F0E3;
    letter-spacing: 2px;
    float: right;
    font-size: 250%;
}

#image-copyright p {
    text-align: center;
    font-family: Overpass, sans-serif;
    font-size: 120%;
}


/*Contact us*/

.container {
    border-radius: 5px;
    padding: 20px;
}

intput[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #F8F0E3;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contact-us {
    text-align: center;
    font-size: 30px;
}

#name {
text-align: center;
}

#email-input {
    text-align: center;
}

#your-request {
    text-align: center;
}

.submit {
    background-color: green;
    color: white;
    font-size: 20px;
}

.clear {
    background-color: black;
    color: white;
    font-size: 20px;
}

/*Thank you styling*/

#thank-you {
    text-align: center;
}

/* Error 404 page styling*/

#error p {
    text-align: center;
}

/*Media queries*/


/*Media query for screens with a max width 1200px*/

@media screen and (max-width: 1200px) {

    /*Gallery*/
    .photos {
        --num-cols: 3;
        --row-height: 300px;
        margin-top: 15px;
    }

   }

   /*Media query for screens with a max width 768px*/

@media screen and (max-width: 768px) {
    /*Home page*/

    #logo {
        font-size: 250%;
    }

    #menu {
        font-size: 120%;
    }

    h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 150%;
    }
    #slogan {
        font-size: 120%;
    }

    /*Gallery*/
    .photos {
        --num-cols: 1;
        --row-height: 300px;
    }
}

/*Media query for screens with a max width of 320px*/

@media screen and (max-width: 320px) {
    /*Home page*/


     #logo {
         font-size: 150%;
         text-align: center;
     }
 
     #menu {
         font-size: 120%;
     }
 
     h2 {
         font-size: 100%;
     }

     h3 {
        font-size: 150%;
     }
     #slogan {
         font-size: 120%;
     }
 
     /*Gallery*/

     .photos {
        --num-cols: 1;
        --row-height: 200px;
     }
 }