@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Shalimar&display=swap');

/*body styling*/
body {
    font-family: Overpass, sans-serif;
    color: #F8F0E3;
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/Background-image-01.jpg');
    background-position: center absolute no-repeat;
    background-size: cover;
}

/*header and logo*/
h1, h2 {
    font-family: Shalimar, sans-serif;
    color: #F8F0E3;
    font-size: 300%;
    text-align: center;
}

#logo {
    text-align: center;
}

#slogan {
    text-align: center;
    font-size: 100%;
}