@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Shalimar&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*body styling*/
body {
    font-family: Overpass, sans-serif;
    color: #F8F0E3;
    background-image: url('../images/Background-image-01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
}

/*header and logo*/
h2, h3 {
    font-family: Shalimar, sans-serif;
    color: #F8F0E3;
    font-size: 250%;
    text-align: center;
    letter-spacing: 2px;   
}

#logo {
    font-family: Shalimar, sans-serif;
    color: #F8F0E3;
    letter-spacing: 2px;
    text-align: center;
    font-size: 350%;
    text-decoration: none;
}

#mid-heading {
    text-align: center;
    font-size: 200%;
    padding-top: 30px;
}


#slogan {
    text-align: center;
    font-size: 150%;
    padding-top: 50px;
}

/* navigation links*/

#menu {
    font-size: 200%;
    text-align: center;
    letter-spacing: 1px;
}

#menu li {
    margin: 0 auto;
    display: inline-block;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #F8F0E3; 
}

#menu a:hover {
    border-bottom: 2px dashed #F8F0E3;
}

.active {
    border-bottom: 2px solid #F8F0E3;
}

/* about us*/

#about-us {
    font-family: Overpass, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding: 50px;
}

/* footer styling*/

footer {
    height: 200px;
}

.social-media {
    text-align: center;
    text-decoration: none;
    padding-top: 100px;
    letter-spacing: 5px;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    color: #F8F0E3;
}

/*gallery*/

#photos {
    margin-top: 10px;
    border: 1px solid #F8F0E3;
    padding: 5px;
    padding-left: 80px;
    padding-top: 10px;
}

#photos img {
    border: 2px solid #F8F0E3;
    display: inline-flex;
    padding: 2px;
}

#middle-images {
    padding-left: 25px;
}

/*contact us*/

#contact-us {
    text-align: center;
    font-size: 30px;
}

#name {
    padding: 5px;
}

#email-input {
    padding: 5px;
}

#your-request {
    border: #F8F0E3;
}

.submit {
    background-color: green;
    color: white;
    font-size: 20px;
}

.clear {
    background-color: black;
    color: white;
    font-size: 20px;
}

/*Thank you styling*/

#thank-you {
    text-align: center;
}

/*media queries*/

@media screen and (max-width: 320px) {
    #logo {
        font-size: 150%;
        text-align: center;
    }

    #menu {
        font-size: 120%;
    }

    h2, h3 {
        font-size: 100%;
    }

    #slogan {
        font-size: 120%;
    }
}